            export LOGFILE=/root/vmdeploy-log.txt
            date | tee -a $LOGFILE
            echo "Post-startup script " `whoami` 2>&1 | tee -a $LOGFILE
            
            export UUID=$(cat /proc/sys/kernel/random/uuid)
            if [ -z $UUID ]; then
               export UUID=defaultuuid
            fi

            # Setting initial Neo4j password
            sudo /usr/bin/neo4j-admin set-initial-password $(ref.generated-password.password)

            # gcloud components necessary to signal to waiter when VM setup complete.
            sudo apt-get update 2>&1 | tee -a $LOGFILE
            sudo apt-get -y --only-upgrade install google-cloud-sdk 2>&1 | tee -a $LOGFILE


            # Loop waiting for neo4j service to start.
            while true; do
                if curl -s -I http://localhost:7474 | grep "200 OK"; then
                    # Signal to waiter we're all set up.
                    # Example: https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/examples/v2/waiter
                    # Service account must have scope: 'https://www.googleapis.com/auth/cloudruntimeconfig'
                    # UUID here is important so multiple VM keys don't clash.
                    gcloud beta runtime-config configs variables set \
                      success/{{name}}-$UUID success \
                      --config-name $(ref.cluster-waiter.configName) 2>&1 | tee -a $LOGFILE

                    break
                fi

                echo "Waiting for neo4j to come up" 2>&1 | tee -a $LOGFILE
                sleep 1
            done

            echo "VM setup complete." 2>&1 | tee -a $LOGFILE
            date | tee -a $LOGFILE