{
    "us-east-1": {
        "64": "ami-01a11b2e62a098916"
    },
    "us-east-2": {
        "64": "ami-0bca42e185426ff8d"
    },
    "us-west-1": {
        "64": "ami-051875e37891d2950"
    },
    "us-west-2": {
        "64": "ami-091f8baea6253314f"
    },
    "eu-west-1": {
        "64": "ami-0cd501e345ee48ca8"
    },
    "eu-central-1": {
        "64": "ami-00aecced4dbadbdfd"
    },
    "ap-southeast-1": {
        "64": "ami-0e0bed075e48cf929"
    },
    "ap-northeast-1": {
        "64": "ami-0ecd5ec782977d1bc"
    },
    "ap-south-1": {
        "64": "ami-0b59b5162d4fa9d7a"
    },
    "sa-east-1": {
        "64": "ami-0f9506975f8d4c50c"
    }
}