{
    "us-east-1": {
        "64": "ami-08d871889f7dca0aa"
    },
    "us-east-2": {
        "64": "ami-0ea9876a5c77f72b2"
    },
    "us-west-2": {
        "64": "ami-009272c7ac939919d"
    },
    "us-west-1": {
        "64": "ami-0704aab2d7b616684"
    },
    "eu-west-1": {
        "64": "ami-0abdbee90fcb7676c"
    },
    "eu-central-1": {
        "64": "ami-04e5a5268a7b116d6"
    },
    "ap-southeast-1": {
        "64": "ami-0b1531c8eaebe5079"
    },
    "ap-northeast-1": {
        "64": "ami-032150637dfa87637"
    },
    "sa-east-1": {
        "64": "ami-02430ed5ef238ff62"
    }
}