{
    "us-east-1": {
        "64": "ami-2a652655"
    },
    "us-east-2": {
        "64": "ami-8ee3ddeb"
    },
    "us-west-2": {
        "64": "ami-da783aa2"
    },
    "us-west-1": {
        "64": "ami-451cf826"
    },
    "eu-west-1": {
        "64": "ami-a8aeaf42"
    },
    "eu-central-1": {
        "64": "ami-1aa093f1"
    },
    "ap-southeast-1": {
        "64": "ami-86a6a1fa"
    },
    "ap-northeast-1": {
        "64": "ami-58a16f27"
    },
    "sa-east-1": {
        "64": "ami-2794cf4b"
    }
}