{
    "us-east-1": {
        "64": "ami-09c9008ed41b4bba2"
    },
    "us-east-2": {
        "64": "ami-00e22b535c5817177"
    },
    "us-west-2": {
        "64": "ami-06abe5143cfb67355"
    },
    "us-west-1": {
        "64": "ami-08e3dd6430ede9163"
    },
    "eu-west-1": {
        "64": "ami-09c3ab99e44e7cfbc"
    },
    "eu-central-1": {
        "64": "ami-095f650f23f3963ac"
    },
    "ap-southeast-1": {
        "64": "ami-0f33b5cecebd13e10"
    },
    "ap-northeast-1": {
        "64": "ami-02ff4fc8937c53c70"
    },
    "sa-east-1": {
        "64": "ami-077309a9185b8b246"
    }
}