{
   "ap-northeast-1": {
         "64": "ami-04e75939f65b31a4a"
   },
   "ap-northeast-2": {
         "64": "ami-077d16536eca34b00"
   },
   "ap-south-1": {
         "64": "ami-094a3d4314cd86823"
   },
   "ap-southeast-1": {
         "64": "ami-02e7a962fe48aec65"
   },
   "ap-southeast-2": {
         "64": "ami-0662fcad2fe704645"
   },
   "eu-central-1": {
         "64": "ami-0588c1af113aa006b"
   },
   "eu-west-1": {
         "64": "ami-00c8631d384ad7c53"
   },
   "eu-west-3": {
         "64": "ami-0fca5455dcb15e5bf"
   },
   "sa-east-1": {
         "64": "ami-09b5f045e51847736"
   },
   "us-east-1": {
         "64": "ami-0cd707714a811f57f"
   },
   "us-east-2": {
         "64": "ami-05a38f878124eca28"
   },
   "us-west-1": {
         "64": "ami-0156fa3cb57ddf517"
   },
   "us-west-2": {
         "64": "ami-0fd7448d78857c872"
   }
}