{
    "us-east-1": {
        "64": "ami-07f4bc4ac2faa72e2"
    },
    "us-east-2": {
        "64": "ami-0dd964296e1dbe015"
    },
    "us-west-1": {
        "64": "ami-051d1266920d248b3"
    },
    "eu-west-1": {
        "64": "ami-03246b3f6135a1b56"
    },
    "eu-central-1": {
        "64": "ami-095aa6b5b44a9b6d8"
    },
    "ap-southeast-1": {
        "64": "ami-064ae7ae628be8435"
    },
    "ap-northeast-1": {
        "64": "ami-000d7eeacfeae007b"
    },
    "sa-east-1": {
        "64": "ami-00caf2f6150a7b027"
    }
}