{
   "ap-northeast-1": {
         "64": "ami-0d047bd5836fd7ed8"
   },
  "ap-northeast-2": {
        "64": "ami-062664016c1aa3260"
   },
   "ap-south-1": {
         "64": "ami-0af85c0bd3d97f38c"
   },
   "ap-southeast-1": {
         "64": "ami-04199f40803d49f08"
   },
   "ap-southeast-2": {
         "64": "ami-0c37e018fd79e8ec4"
   },
   "eu-central-1": {
         "64": "ami-0f1660b0220fa697f"
   },
   "eu-west-1": {
         "64": "ami-0bd57800249f338f4"
   },
   "eu-west-3": {
         "64": "ami-02f11dcf9704b983c"
   },
   "sa-east-1": {
         "64": "ami-08a398a9ae1197c77"
   },
   "us-east-1": {
         "64": "ami-0f9dac1e7ae3f3dcd"
   },
   "us-east-2": {
         "64": "ami-0f24860fa3df6493f"
   },
   "us-west-1": {
         "64": "ami-08fe5e432ca0ad4ce"
   },
   "us-west-2": {
         "64": "ami-09e197b8b7692717b"
   }
}