{
   "ap-northeast-1": {
         "64": "ami-080cfb8f2941bf435"
   },
   "ap-south-1": {
         "64": "ami-0b45ef147c80e50a5"
   },
   "ap-southeast-1": {
         "64": "ami-0a9cf1fcf9d7c894d"
   },
   "ap-southeast-2": {
         "64": "ami-0e6d9fa5b6c07c519"
   },
   "eu-central-1": {
         "64": "ami-0cea00731e642ebf6"
   },
   "eu-west-1": {
         "64": "ami-06fe04e79c4086e79"
   },
   "sa-east-1": {
         "64": "ami-0bbb25060b19d0c85"
   },
   "us-east-1": {
         "64": "ami-0d824e573ee3fb601"
   },
   "us-east-2": {
         "64": "ami-0a3e6a5a6bbcfac22"
   },
   "us-west-1": {
         "64": "ami-036b1d5579d2cf5be"
   },
   "us-west-2": {
         "64": "ami-0ad5bae7e72cc0bd8"
   }
}
