{
   "ap-northeast-1": {
         "64": "ami-06fbab55b3cf08eff"
   },
   "ap-northeast-2": {
         "64": "ami-0716495f8fc286973"
   },
   "ap-south-1": {
         "64": "ami-089261d83f9d31f76"
   },
   "ap-southeast-1": {
         "64": "ami-08cad169d6d036aca"
   },
   "ap-southeast-2": {
         "64": "ami-007a4822f40a6d1a2"
   },
   "eu-central-1": {
         "64": "ami-058f9b600bcfb5f60"
   },
   "eu-west-1": {
         "64": "ami-0ceac80ebf25c68a8"
   },
   "eu-west-3": {
         "64": "ami-0c5f48290873b1679"
   },
   "sa-east-1": {
         "64": "ami-099e1831e1864fa5f"
   },
   "us-east-1": {
         "64": "ami-02ebc97d60894dd83"
   },
   "us-east-2": {
         "64": "ami-03bc99fc602fd210b"
   },
   "us-west-1": {
         "64": "ami-0d734c2701e84529f"
   },
   "us-west-2": {
         "64": "ami-0f494e818d8b1e769"
   }
}