{
    "us-east-1": {
        "64": "ami-8888eff7"
    },
    "us-east-2": {
        "64": "ami-5bcef23e"
    },
    "us-west-2": {
        "64": "ami-18631a60"
    },
    "us-west-1": {
        "64": "ami-507e6530"
    },
    "eu-west-1": {
        "64": "ami-29784150"
    },
    "eu-central-1": {
        "64": "ami-a2331849"
    },
    "ap-southeast-1": {
        "64": "ami-cdcaf7b1"
    },
    "ap-northeast-1": {
        "64": "ami-eab14e95"
    },
    "sa-east-1": {
        "64": "ami-f1336d9d"
    }
}