{% This is a stub file -- we do not support community on AWS GovCloud %}
{
    "us-gov-east-1": {
        "64": "INTENTIONALLY_NOT_SUPPORTED"
    },
    "us-gov-west-1": {
        "64": "INTENTIONALLY_NOT_SUPPORTED"
    }
}