{
   "ap-northeast-1": {
         "64": "ami-0b8dbe795735941b3"
   },
   "ap-northeast-2": {
         "64": "ami-05f00ac034c113426"
   },
   "ap-south-1": {
         "64": "ami-026c83feff5cc1cc5"
   },
   "ap-southeast-1": {
         "64": "ami-06855ac2393443046"
   },
   "ap-southeast-2": {
         "64": "ami-0518a30824cc36a0b"
   },
   "eu-central-1": {
         "64": "ami-0ffc584d4a02a7877"
   },
   "eu-west-1": {
         "64": "ami-0fe026fef5f3aec60"
   },
   "eu-west-3": {
         "64": "ami-0e1ce9b17e2d30fdd"
   },
   "sa-east-1": {
         "64": "ami-04fe12d185cc9ca6b"
   },
   "us-east-1": {
         "64": "ami-06171c1183eea69e6"
   },
   "us-east-2": {
         "64": "ami-0963f0a29b4ac7e22"
   },
   "us-west-1": {
         "64": "ami-004ce69024fb41518"
   },
   "us-west-2": {
         "64": "ami-0e75999dba45c22a6"
   }
}