{
    "us-east-1": {
        "64": "ami-0f6db720c2e3c7b68"
    },
    "us-east-2": {
        "64": "ami-0a366ea274e2488ee"
    },
    "us-west-1": {
        "64": "ami-00d82e0b875e505dc"
    },
    "us-west-2": {
        "64": "ami-084b94e5c357b909e"
    },
    "eu-west-1": {
        "64": "ami-0572a469fb0d71326"
    },
    "eu-central-1": {
        "64": "ami-05f30083fe95f0fd4"
    },
    "ap-southeast-1": {
        "64": "ami-0cf36d7ad51a09a42"
    },
    "ap-northeast-1": {
        "64": "ami-0e4929e7322b378dd"
    },
    "ap-south-1": {
        "64": "ami-0c9855c2d5f1c6527"
    },
    "sa-east-1": {
        "64": "ami-019a244d7af21895c"
    }
}