{
    "us-east-1": {
        "64": "ami-0417a579d84818e55"
    },
    "us-east-2": {
        "64": "ami-056ff4b2cbec53e8e"
    },
    "us-west-2": {
        "64": "ami-055dfe522e1a85aa3"
    },
    "us-west-1": {
        "64": "ami-0ce0d57475fffcc84"
    },
    "eu-west-1": {
        "64": "ami-0ee4c581e8d1e1908"
    },
    "eu-central-1": {
        "64": "ami-080f9dcf28cc7ea02"
    },
    "ap-southeast-1": {
        "64": "ami-0d2553a32d5439cc6"
    },
    "ap-northeast-1": {
        "64": "ami-015458c3c36edb5b5"
    },
    "sa-east-1": {
        "64": "ami-021155ffa7f0390d9"
    }
}