{
    "us-east-1": {
        "64": "ami-0da7d04fb205f2baa"
    },
    "us-east-2": {
        "64": "ami-00301990ac9f6c040"
    },
    "us-west-2": {
        "64": "ami-031f9912b3c625c06"
    },
    "us-west-1": {
        "64": "ami-09da6c16ee426e631"
    },
    "eu-west-1": {
        "64": "ami-07e4cb623326aa7f1"
    },
    "eu-central-1": {
        "64": "ami-008e71ffffd997a86"
    },
    "ap-southeast-1": {
        "64": "ami-0323a8cfd64850cd2"
    },
    "ap-northeast-1": {
        "64": "ami-0aec1ec6a989489a4"
    },
    "sa-east-1": {
        "64": "ami-066389d23b69525da"
    }
}