{# https://aws.amazon.com/ec2/instance-types/ #}
[
    {# General Purpose #}
    "m4.large",
    "m4.xlarge",
    "m4.2xlarge",
    "m4.4xlarge",
    "m4.10xlarge",
    "m4.16xlarge",

    "m5.large",
    "m5.xlarge",
    "m5.2xlarge",
    "m5.4xlarge",
    "m5.8xlarge",
    "m5.12xlarge",
    "m5.16xlarge",
    "m5.24xlarge",

    "t2.medium",
    "t2.large",
    "t2.xlarge",
    "t2.2xlarge",

    "t3.medium",
    "t3.large",
    "t3.xlarge",
    "t3.2xlarge",

    {# Memory optimized #}

    {# High performance DB #}
    "x1e.32xlarge",
    "x1e.16xlarge",
    "x1e.8xlarge",
    "x1e.4xlarge",
    "x1e.2xlarge",
    "x1e.xlarge",

    {# Large-scale enterprise in-memory #}
    "x1.16xlarge",

    {# Optimized for mem intensive workloads #}
    "r4.large",
    "r4.xlarge",
    "r4.2xlarge",
    "r4.4xlarge",
    "r4.8xlarge",
    "r4.16xlarge",

    "r5.large",
    "r5.xlarge",
    "r5.2xlarge",
    "r5.4xlarge",
    "r5.8xlarge",
    "r5.12xlarge",
    "r5.16xlarge",
]