{
   "ap-northeast-1": {
         "64": "ami-0510754fba9796d77"
   },
  "ap-northeast-2": {
        "64": "ami-0846ef38a398b6a2e"
   },
   "ap-south-1": {
         "64": "ami-06ce563bbf2465c69"
   },
   "ap-southeast-1": {
         "64": "ami-010d34b8ec1879ba9"
   },
   "ap-southeast-2": {
         "64": "ami-035dcc272880344ab"
   },
   "eu-central-1": {
         "64": "ami-0eaed612842e0524e"
   },
   "eu-west-1": {
         "64": "ami-0e3c7c3ddaf9cb758"
   },
   "eu-west-3": {
         "64": "ami-00a15a1a9c0a5e0e6"
   },
   "sa-east-1": {
         "64": "ami-0f08e9572448b23fc"
   },
   "us-east-1": {
         "64": "ami-0afe90add2767a91c"
   },
   "us-east-2": {
         "64": "ami-0ba1b24362a6adbd7"
   },
   "us-west-1": {
         "64": "ami-09ad7d577d3b26145"
   },
   "us-west-2": {
         "64": "ami-02afef6d70b884bcb"
   }
}