{
   "ap-northeast-1": {
         "64": "ami-0bedcd61b189622e5"
   },
  "ap-northeast-2": {
        "64": "ami-053001e3140d9b87d"
   },
   "ap-south-1": {
         "64": "ami-031e62d0a63b7b128"
   },
   "ap-southeast-1": {
         "64": "ami-0bbacf9738403fb20"
   },
   "ap-southeast-2": {
         "64": "ami-0149164674e14dbf4"
   },
   "eu-central-1": {
         "64": "ami-0da28ee6faaf75282"
   },
   "eu-west-1": {
         "64": "ami-03788f8c35d929d75"
   },
   "eu-west-3": {
         "64": "ami-02c5cc2450a894492"
   },
   "sa-east-1": {
         "64": "ami-005d6d2f57a0e677d"
   },
   "us-east-1": {
         "64": "ami-07bf861054f136fa6"
   },
   "us-east-2": {
         "64": "ami-03630afd7adcf12bc"
   },
   "us-west-1": {
         "64": "ami-019c96b19471c8264"
   },
   "us-west-2": {
         "64": "ami-0e3920382567638ce"
   }
}