{
   "ap-northeast-1": {
         "64": "ami-0931243cbff9b1212"
   },
  "ap-northeast-2": {
        "64": "ami-0e7947c125ca9386b"
   },
   "ap-south-1": {
         "64": "ami-0fd60a6a24ed9eca9"
   },
   "ap-southeast-1": {
         "64": "ami-021468e351e45fb57"
   },
   "ap-southeast-2": {
         "64": "ami-0f3a395917ad8ca1d"
   },
   "eu-central-1": {
         "64": "ami-0a539f029924cc432"
   },
   "eu-west-1": {
         "64": "ami-01f8872c0e1d6c9aa"
   },
   "eu-west-3": {
         "64": "ami-01ada9ebd7a76b924"
   },
   "sa-east-1": {
         "64": "ami-053829fe9a81394bc"
   },
   "us-east-1": {
         "64": "ami-0c734fdb3b07146ad"
   },
   "us-east-2": {
         "64": "ami-068fb3b64fc6d34ed"
   },
   "us-west-1": {
         "64": "ami-0e69fef7b3ee5c21a"
   },
   "us-west-2": {
         "64": "ami-00f4b7b46d1d1b337"
   }
}