{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "VmName": {
            "type": "string"
        },
        "Location": {
            "type": "string"
        },
        "Password": {
            "type": "securestring"
        },
        "_artifactsLocation": {
            "type": "string",
            "metadata": {
                "description": "base URL at which Marketplace package files are stored. Value adjusted automatically during Marketplace submission process."
            }
        },
        "_artifactsLocationSasToken": {
            "type": "securestring"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "name": "[concat(parameters('VmName'),'/SetupScript')]",
            "apiVersion": "2019-12-01",
            "location": "[parameters('Location')]",
            "properties": {
                "publisher": "Microsoft.Azure.Extensions",
                "type": "CustomScript",
                "typeHandlerVersion": "2.0",
                "autoUpgradeMinorVersion": true,
                "settings": {
                    "fileUris": [
                        "[uri(parameters('_artifactsLocation'), concat('scripts/post-deploy.sh', parameters('_artifactsLocationSasToken')))]"
                    ]
                },
                "protectedSettings": {
                    "commandToExecute": "[concat('/usr/bin/env NEO4J_PASSWORD=\"',parameters('Password'),'\" ./post-deploy.sh')]"
                }
            }
        }
    ]
}
