{
   "ap-northeast-1": {
         "64": "ami-0beee6dbfa9827cc9"
   },
   "ap-northeast-2": {
         "64": "ami-0567b6ef51a1da5ab"
   },
   "ap-south-1": {
         "64": "ami-0f5ddd482d40cd504"
   },
   "ap-southeast-1": {
         "64": "ami-05b852e55e4556a7b"
   },
   "ap-southeast-2": {
         "64": "ami-06256c69d695f1360"
   },
   "eu-central-1": {
         "64": "ami-08b6922679a8f4279"
   },
   "eu-west-1": {
         "64": "ami-0e4499e5761f2a475"
   },
   "eu-west-3": {
         "64": "ami-00ca42de8cd5d2b1e"
   },
   "sa-east-1": {
         "64": "ami-0664af3401b705a21"
   },
   "us-east-1": {
         "64": "ami-033c9963d0a34ad7c"
   },
   "us-east-2": {
         "64": "ami-0f87f98c3b40e13e0"
   },
   "us-west-1": {
         "64": "ami-01bd0c4d6c5534859"
   },
   "us-west-2": {
         "64": "ami-0e229d6a00f239f3d"
   }
}