{
   "ap-northeast-1": {
         "64": "ami-0e1ee2fea11ede14a"
   },
  "ap-northeast-2": {
        "64": "ami-066e8505716e573cf"
   },
   "ap-south-1": {
         "64": "ami-04a7e7f26a252867f"
   },
   "ap-southeast-1": {
         "64": "ami-05b0db12e52fcae3c"
   },
   "ap-southeast-2": {
         "64": "ami-052d4c621fe58919e"
   },
   "eu-central-1": {
         "64": "ami-07436495c5a0891d9"
   },
   "eu-west-1": {
         "64": "ami-0418ce5cc0c7b6660"
   },
   "eu-west-3": {
         "64": "ami-05d24b6c653334dbb"
   },
   "sa-east-1": {
         "64": "ami-002b0b946ba273b7e"
   },
   "us-east-1": {
         "64": "ami-0469732a026739a57"
   },
   "us-east-2": {
         "64": "ami-04079f56043913960"
   },
   "us-west-1": {
         "64": "ami-08203598424cf853b"
   },
   "us-west-2": {
         "64": "ami-0b88c144c4120635f"
   }
}