{
   "ap-northeast-1": {
         "64": "ami-0e027de75322d964d"
   },
  "ap-northeast-2": {
        "64": "ami-047e813debecc46bc"
   },
   "ap-south-1": {
         "64": "ami-0cb82f5bec342d447"
   },
   "ap-southeast-1": {
         "64": "ami-03074ea532d19b6cc"
   },
   "ap-southeast-2": {
         "64": "ami-0040b832f6d94a7f4"
   },
   "eu-central-1": {
         "64": "ami-031060c2665c96925"
   },
   "eu-west-1": {
         "64": "ami-0003441518e31a3ab"
   },
   "eu-west-3": {
         "64": "ami-07ddb24df48f3e131"
   },
   "sa-east-1": {
         "64": "ami-002343d48681dcfdf"
   },
   "us-east-1": {
         "64": "ami-0a192d6621fa0e448"
   },
   "us-east-2": {
         "64": "ami-08dcf883ad6814fa5"
   },
   "us-west-1": {
         "64": "ami-010f0326074b7f1e4"
   },
   "us-west-2": {
         "64": "ami-0e3e6fa4dcf3341e9"
   }
}