{
   "ap-northeast-1": {
         "64": "ami-0eea2d41aec13ac76"
   },
  "ap-northeast-2": {
        "64": "ami-0784820bd2dfac002"
   },
   "ap-south-1": {
         "64": "ami-0405bdb9477d92164"
   },
   "ap-southeast-1": {
         "64": "ami-00eaf3bda30361484"
   },
   "ap-southeast-2": {
         "64": "ami-022c377c3d587d97a"
   },
   "eu-central-1": {
         "64": "ami-0cc3ecddf5a3a8d4f"
   },
   "eu-west-1": {
         "64": "ami-00d978d1fa991ef85"
   },
   "eu-west-3": {
         "64": "ami-08b6884b3ed3aabfe"
   },
   "sa-east-1": {
         "64": "ami-07c87c2832d1611dc"
   },
   "us-east-1": {
         "64": "ami-0caebb418d7e8f3f1"
   },
   "us-east-2": {
         "64": "ami-0ebcec023ac1616a1"
   },
   "us-west-1": {
         "64": "ami-0a9262051676ee1b2"
   },
   "us-west-2": {
         "64": "ami-01f8f5821851b44bf"
   }
}