{
   "ap-northeast-1": {
         "64": "ami-05487262176aed384"
   },
   "ap-northeast-2": {
         "64": "ami-02d5311589ab2e7e1"
   },
   "ap-south-1": {
         "64": "ami-03839c802fcf6c57f"
   },
   "ap-southeast-1": {
         "64": "ami-0bd36755c72036058"
   },
   "ap-southeast-2": {
         "64": "ami-04e4c6c89e1c21c4e"
   },
   "eu-central-1": {
         "64": "ami-0fa8cda92ef3e8dae"
   },
   "eu-west-1": {
         "64": "ami-0b0cc51094f181fec"
   },
   "eu-west-3": {
         "64": "ami-0ba4923718e743ded"
   },
   "sa-east-1": {
         "64": "ami-06a90de7590f74253"
   },
   "us-east-1": {
         "64": "ami-0dfe8f47977f6dc5c"
   },
   "us-east-2": {
         "64": "ami-0141853f7adba9635"
   },
   "us-west-1": {
         "64": "ami-0c23f3f83900db20c"
   },
   "us-west-2": {
         "64": "ami-0a08dbed3e592e313"
   }
}