{
   "ap-northeast-1": {
         "64": "ami-0baab40b93f66c75b"
   },
  "ap-northeast-2": {
        "64": "ami-087b7be1d64a41a4f"
   },
   "ap-south-1": {
         "64": "ami-0bf0349ff876cd0ad"
   },
   "ap-southeast-1": {
         "64": "ami-0eb08195d3eafd6d5"
   },
   "ap-southeast-2": {
         "64": "ami-05c558a9758aacf63"
   },
   "eu-central-1": {
         "64": "ami-00177ed1d7e6beded"
   },
   "eu-west-1": {
         "64": "ami-091a5df90129a9e14"
   },
   "eu-west-3": {
         "64": "ami-0dbfd2c83402db3b3"
   },
   "sa-east-1": {
         "64": "ami-0ac89668018ac9a28"
   },
   "us-east-1": {
         "64": "ami-0208b7ffff1d804dc"
   },
   "us-east-2": {
         "64": "ami-0eb1d76704462b8bf"
   },
   "us-west-1": {
         "64": "ami-0259d060d9d2444e3"
   },
   "us-west-2": {
         "64": "ami-092379a98bb3512ec"
   }
}