[
"#!/bin/bash\n",
"#\n",
"# This script starts at the launch of a VM, and handles final cluster coordination.\n",
"LOGFILE=/home/ubuntu/setup.log\n",
"echo `date` | tee -a $LOGFILE\n",
"\n",
"/bin/systemctl stop neo4j.service 2>&1 | tee -a $LOGFILE\n",
"/usr/bin/neo4j-admin unbind 2>&1 | tee -a $LOGFILE\n",
"/bin/rm -rf /var/lib/neo4j/data/databases/graph.db/ 2>&1 | tee -a $LOGFILE\n",
"/bin/systemctl start neo4j.service 2>&1 | tee -a $LOGFILE\n",
"\n",
"echo 'Installing CloudFormation tools...' | tee -a $LOGFILE\n",
"curl https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz | tar xz -C aws-cfn-bootstrap-latest --strip-components 1\n",
"easy_install aws-cfn-bootstrap-latest 2>&1 | tee -a $LOGFILE\n",
"\n",
"# Loop waiting for neo4j service to start.\n",
"while true; do\n",
"    if curl -s -I http://localhost:7474 | grep '200 OK'; then\n",
"        echo 'Neo4j is up; changing default password' 2>&1 | tee -a $LOGFILE\n",
"\n",
"        curl -v -H 'Content-Type: application/json' \\n",
"                -XPOST -d '{\"password\":\"", { "Ref": "Password" }, "\"}' \\\n",
"                -u neo4j:neo4j \\\n",
"                http://localhost:7474/user/neo4j/password \\\n",
"                2>&1 | tee -a $LOGFILE\n",
"        echo 'Password reset, signaling success' 2>&1 | tee -a $LOGFILE\n",
"\n",
"        # SIGNAL TBD\n",
"        break\n",
"    fi\n",
"\n",
"    echo 'Waiting for neo4j to come up' 2>&1 | tee -a $LOGFILE\n",
"    sleep 1\n",
"done"
]