{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "VmName": {
            "type": "string"
        },
        "Location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]"
        },
        "Password": {
            "type": "securestring"
        },
        "ArtifactsBase": {
            "type": "string",
            "metadata": {
                "artifactsBaseUrl": "",
                "description": "base URL at which Marketplace package files are stored. Value adjusted automatically during Marketplace submission process."
            }
        }
    },
    "variables": {
        "artifactsBase": "[concat(parameters('ArtifactsBase'),'/')]"
    },
    "resources": [
        {
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "name": "[concat(parameters('VmName'),'/SetupScript')]",
            "apiVersion": "2018-06-01",
            "location": "[parameters('Location')]",
            "properties": {
                "publisher": "Microsoft.Azure.Extensions",
                "type": "CustomScript",
                "typeHandlerVersion": "2.0",
                "autoUpgradeMinorVersion": true,
                "settings": {
                    "fileUris": [
                        "[concat(variables('artifactsBase'), '../scripts/post-deploy.sh')]"
                    ]
                },
                "protectedSettings": {
                    "commandToExecute": "[concat('/usr/bin/env NEO4J_PASSWORD=\"',parameters('Password'),'\" ./post-deploy.sh')]"
                }
            }
        }
    ]
}
