{% import "path_utils.jinja" as path_utils with context %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set name = "%s-vm-tmpl" % env["name"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set network = path_utils.networkPath(properties["network"]) %}
{% set subnetwork = properties["subnetwork"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}
{% set hasExternalIP = properties["externalIP"] != "None" %}
{# Software status only works if the VM has an external IP. #}
{% set enableStatusWaiter = hasExternalIP %}

{# 
 # Which image to use for all 3 nodes of the cluster? 
 # Do this by image to ensure the latest is always taken.
 #}
{% set imageFamily = "neo4j-cc" %}

resources:
  - name: generated-password
    type: password.py
    properties:
      length: 16
      includeSymbols: false
  - name: {{ name }}
    type: vm_multiple_instances.py
    properties:
      password: $(ref.generated-password.password)
      tags:
        items:
        - neo4j
        - neo4j-cc
      instanceName: {{ instanceName }}
      numberOfVMReplicas: 3
      sourceImage: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/images/family/{{ imageFamily }}
      zone: {{ zone }}
      machineType: {{ machineType }}
      network: {{ network }}
      {% if subnetwork %}
      subnetwork: {{ subnetwork }}
      {% endif %}
      bootDiskType: {{ bootDiskType }}
      bootDiskSizeGb: {{ bootDiskSizeGb }}
      hasExternalIP: {{ hasExternalIP }}
      {# SEE README.md IN THIS REPO -- This is where all neo4j CC config goes #}
      metadata:
        items:
        - key: initial-password
          value: $(ref.generated-password.password)
        - key: causal_clustering_initial_discovery_members
          value: {{instanceName}}-1:5000,{{instanceName}}-2:5000,{{instanceName}}-3:5000
        - key: startup-script
          value: |
            echo "Post-startup script " `whoami` 2>&1 | tee -a /tmp/vmdeploy.txt
            /bin/systemctl stop neo4j.service >>/tmp/vmdeploy.txt 2>&1 | tee -a /tmp/vmdeploy.txt
            /usr/bin/neo4j-admin unbind >>/tmp/vmdeploy.txt 2>&1 | tee -a /tmp/vmdeploy.txt
            /bin/rm -rf /var/lib/neo4j/data/databases/graph.db/ 2>&1 | tee -a /tmp/vmdeploy.txt
            /bin/systemctl start neo4j.service 2>&1 | tee -a /tmp/vmdeploy.txt

            while true; do
                # Loop waiting for neo4j service to start.
                if curl -s -I http://localhost:7474 | grep "200 OK"; then
                    echo "Neo4j is up; changing default password" 2>&1 | tee -a /tmp/vmdeploy.txt

                    curl -v -H "Content-Type: application/json" \
                            -XPOST -d '{"password":"$(ref.generated-password.password)"}' \
                            -u neo4j:admin \
                            http://localhost:7474/user/neo4j/password \
                            2>&1 | tee -a /tmp/vmdeploy.txt
                    echo "Done with post-startup script" 2>&1 | tee -a /tmp/vmdeploy.txt
                    break
                fi

                echo "Waiting for neo4j to come up" 2>&1 | tee -a /tmp/vmdeploy.txt
                sleep 1
            done        
      serviceAccounts:
        - email: default
          scopes:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
            - 'https://www.googleapis.com/auth/devstorage.read_only'
            - 'https://www.googleapis.com/auth/logging.write'
            - 'https://www.googleapis.com/auth/monitoring.write'

outputs:
  - name: deployment
    value: {{ deployment }}
  - name: project
    value: {{ project }}
  - name: username
    value: neo4j
  - name: password
    value: $(ref.generated-password.password)
  - name: vm1Id
    value: $(ref.{{ instanceName }}-1.id)
  - name: vm1URL
    value: https://$(ref.{{ instanceName }}-1.networkInterfaces[0].accessConfigs[0].natIP):7473/
  - name: vm1Name
    value: {{ instanceName }}-1
  - name: vm1SelfLink
    value: $(ref.{{ instanceName }}-1.selfLink)
  - name: vm2Id
    value: $(ref.{{ instanceName }}-2.id)
  - name: vm2URL
    value: https://$(ref.{{ instanceName }}-2.networkInterfaces[0].accessConfigs[0].natIP):7473/
  - name: vm2Name
    value: {{ instanceName }}-2
  - name: vm2SelfLink
    value: $(ref.{{ instanceName }}-2.selfLink)
  - name: vm3Id
    value: $(ref.{{ instanceName }}-3.id)
  - name: vm3URL
    value: https://$(ref.{{ instanceName }}-3.networkInterfaces[0].accessConfigs[0].natIP):7473/
  - name: vm3Name
    value: {{ instanceName }}-3
  - name: vm3SelfLink
    value: $(ref.{{ instanceName }}-3.selfLink)
