{
   "ap-northeast-1": {
         "64": "ami-017a5e1e18a5e2cd3"
   },
  "ap-northeast-2": {
        "64": "ami-01b2b715a51a214fa"
   },
   "ap-south-1": {
         "64": "ami-013d4914738173cb6"
   },
   "ap-southeast-1": {
         "64": "ami-05d6fed64a93c06fd"
   },
   "ap-southeast-2": {
         "64": "ami-0a6878d4781d23a2f"
   },
   "eu-central-1": {
         "64": "ami-04c319e1e1676cec3"
   },
   "eu-west-1": {
         "64": "ami-0343904396e1868bb"
   },
   "eu-west-3": {
         "64": "ami-019b95a295df288c2"
   },
   "sa-east-1": {
         "64": "ami-00a912168a7ac3a25"
   },
   "us-east-1": {
         "64": "ami-0ada00a1aab49af6b"
   },
   "us-east-2": {
         "64": "ami-0b2b19e489fc25c21"
   },
   "us-west-1": {
         "64": "ami-06bae31a8e4d51b75"
   },
   "us-west-2": {
         "64": "ami-0af47029f185c3105"
   }
}