{
   "ap-northeast-1": {
         "64": "ami-0e76ba6d3b87ae3fe"
   },
  "ap-northeast-2": {
        "64": "ami-006d4f2991ee69e46"
   },
   "ap-south-1": {
         "64": "ami-0ea6a31808412629a"
   },
   "ap-southeast-1": {
         "64": "ami-0a2688e8fb38ff789"
   },
   "ap-southeast-2": {
         "64": "ami-01dc92ebb197c64ec"
   },
   "eu-central-1": {
         "64": "ami-01c0f29d0979269e5"
   },
   "eu-west-1": {
         "64": "ami-0a892afdfb72020fc"
   },
   "eu-west-3": {
         "64": "ami-0c6ed971512217336"
   },
   "sa-east-1": {
         "64": "ami-0c97b2bcafb95bcd7"
   },
   "us-east-1": {
         "64": "ami-0f238cb06d82bbccc"
   },
   "us-east-2": {
         "64": "ami-048387caa28de9a88"
   },
   "us-west-1": {
         "64": "ami-0fde2e97538b20782"
   },
   "us-west-2": {
         "64": "ami-0e43274f8a27f2a47"
   }
}
