{
   "ap-northeast-1": {
         "64": "ami-0f6a7d8434d6febdc"
   },
   "ap-northeast-2": {
         "64": "ami-000ee0ff18fac318f"
   },
   "ap-south-1": {
         "64": "ami-0953dffabc21aa1ad"
   },
   "ap-southeast-1": {
         "64": "ami-0fa3d47102c9e3cbc"
   },
   "ap-southeast-2": {
         "64": "ami-095def1be25805d0c"
   },
   "eu-central-1": {
         "64": "ami-0195e558aa82837aa"
   },
   "eu-west-1": {
         "64": "ami-0ac03128333d3af07"
   },
   "eu-west-3": {
         "64": "ami-0b7708c1079deb090"
   },
   "sa-east-1": {
         "64": "ami-0c9a62a6f7dc7b370"
   },
   "us-east-1": {
         "64": "ami-08910cfbd20298e4e"
   },
   "us-east-2": {
         "64": "ami-0065304651f8a40c1"
   },
   "us-west-1": {
         "64": "ami-010b0014e664dfa07"
   },
   "us-west-2": {
         "64": "ami-0dc3d641d68298517"
   }
}
