{#
 # This subtemplate creates a DNS record tied to a hosted zone named "DNSZone".
 #
 # Requires variables:
 # i: integer index
 # groupName: DNS name will be groupName{{i}}
 # resourceName: which CloudFormation resource gets this DNS name.
 # INTERNAL_DNS_TLD
 # condition:  When to create this, by resource condition name
 #}
{
    "Type": "AWS::Route53::RecordSet",
    "Condition" : "{{condition}}",
    "DependsOn" : "DNSZone",
    "Properties": {
        "HostedZoneId": { "Ref" : "DNSZone" },
        "Comment" : "DNS names for neo4j {{groupName}} {{i}}.",
        "Name" : "{{groupName}}{{i}}.{{INTERNAL_DNS_TLD}}.",
        "Type" : "A",
        "TTL" : "900",
        "ResourceRecords" : [
            {# Map DNS to **private IP** not PublicIp, this because
                # it's inside the VPC and cluster coord traffic isn't allowed
                # outside anyway.
                #}
            { "Fn::GetAtt" : [ "Neo4jReplica{{i}}", "PrivateIp" ] }
        ]
    }
}