{
   "ap-northeast-1": {
         "64": "ami-0d41bbb67ed4aaf9d"
   },
  "ap-northeast-2": {
        "64": "ami-0b93d196ec0bea96e"
   },
   "ap-south-1": {
         "64": "ami-0720a2c04bf70e414"
   },
   "ap-southeast-1": {
         "64": "ami-0d2570417401d9c24"
   },
   "ap-southeast-2": {
         "64": "ami-009a1848276e8bef1"
   },
   "eu-central-1": {
         "64": "ami-026345eadd1f898b6"
   },
   "eu-west-1": {
         "64": "ami-0d0556e9882307a8a"
   },
   "eu-west-3": {
         "64": "ami-0234fa45954b51755"
   },
   "sa-east-1": {
         "64": "ami-0c68ced701c126011"
   },
   "us-east-1": {
         "64": "ami-037fff05e915df9fb"
   },
   "us-east-2": {
         "64": "ami-0478b2abedc0fe6c8"
   },
   "us-west-1": {
         "64": "ami-015c5cbe496d689dc"
   },
   "us-west-2": {
         "64": "ami-0eeef5706a2e78a79"
   }
}